{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}| Home choice
{% endblock %}

{% block body %}
	<div class="example-wrapper text-center">
		<h1>Choice your path</h1>

		<a href="{{path('app_login_user')}}">USER</a>
		<a href="{{path('app_login_killer')}}">KILLER</a>
	</div>
{% endblock %}
