{% extends 'base.html.twig' %}

{% block title %}Welcome at VCA
{% endblock %}

{% block body %}
	<div class="example-wrapper text-center">
		<h1>Villain's Contract Agency</h1>

		<a href="{{path('app_home')}}">Enter</a>
	</div>
{% endblock %}
