{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}| Valid Order
{% endblock %}

{% block body %}
	<div class="container order-page">
		<h1 class="text-center my-5">Order</h1>
		<div class="card order-card">
			<p class="msg-order text-center">Thank’s to use our service. See you soon...</p>
			<a href="{{path('app_logout')}}" class="btn btn-lg btn-light">Logout</a>
		</div>
	</div>
{% endblock %}
