.login-page {
    display: flex;
    flex-direction: column;

    .login-card {
        height: 70vh;
        color: $light;
        background-color: transparent;
        border: 2px solid $blood;
        box-shadow: inset 2px 2px 50px $blood;
    }

    .form-login {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;

        .btn {
            width: 40%;
            margin: auto;
        }

        .form-label, .form-control {
            font-size: 1.5rem;
        }

        .btn-lg {
            --bs-btn-font-size: 2.25rem;
            font-size: var(--bs-btn-font-size);
        }
    }
}