.order-page {
    .order-card {
        height: 30vh;
        padding: 3rem;
        color: $light;
        background-color: transparent;
        border: 2px solid $light;

        .msg-order {
            font-size: 2rem;
        }

        .btn {
            width: 40%;
            margin: auto;
        }
    }
}