.register-page {
    display: flex;
    flex-direction: column;

    .register-card {
        height: 70vh;
        color: $light;
        background-color: transparent;
        border: 2px solid $blood;
        box-shadow: inset 2px 2px 50px $blood;
        margin-bottom: 3rem;
    }

    .btn-back {
        --bs-card-border-radius: 0.1rem;
        border-radius: var(--bs-card-border-radius);
    }

    .btn-lg {
        --bs-btn-font-size: 2.5rem;
        font-size: var(--bs-btn-font-size);
    }

    .form-register {
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: column;

        .form-group {
            display: flex;
            flex-direction: column;
        }

        .form-group .btn {
            width: 70%;
            margin: auto;
        }

        .form-label, .form-control {
            font-size: 1.5rem;
        }
    }
}

.bck {
    display: flex;
    align-items: center;
}