@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&family=Sofia+Sans+Condensed:wght@300;400;900&display=swap');

$font-family-subtitle: 'Pathway Gothic One', sans-serif;
$font-family-body: 'Sofia Sans Condensed', sans-serif;

$font-weight-body-reg: 400;
$font-weight-body-light: 300;

$font-weight-title: 900;

// customize some Bootstrap variables
$light: #e4e4e4;
$dark: #121212;
$darkgray: #2a2a2a;
$intermediate: #3d3d3d;
$gray: #bdbdbd;
$blood: #570000;
$bloodlight: #810b0b;

$theme-colors: (
    "light": $light,
    "dark": $dark,
    "darkgray": $darkgray,
    "intermediate": $intermediate,
    "gray": $gray,
    "blood": $blood,
    "bloodlight": $bloodlight
);
