@import "theme";
@import "~bootstrap/scss/bootstrap";

body {
    font-family: $font-family-body;
    font-weight: $font-weight-body-reg;
    min-height: 100vh;
    color: $light;
    background-color: $dark;
}

h1 {
    font-family: $font-family-body;
    font-weight: $font-weight-title;
    font-size: 4.5rem;
}

h2, h3, h4, h5, h6{
    font-family: $font-family-subtitle;
}

@import "landing";
@import "login";
@import "register";