{% extends 'base.html.twig' %}

{% block title %}Edit Killer{% endblock %}

{% block body %}
    <h1>Edit Killer</h1>

    {{ include('killer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_dashboard') }}">back to list</a>
{% endblock %}
