<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
				VCA
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<header>
		{% if is_granted('ROLE_VISITOR') %}
			{% include "/components/_navbar.html.twig" %}
		{% endif %}
		{% if is_granted('ROLE_KILLER') %}
			{% include "/components/_navbarKiller.html.twig" %}
		{% endif %}
	</header>
	<body>
		{% block body %}{% endblock %}
	</body>
	<footer>
		<a href="{{path('app_legal')}}" class="fixed-bottom text-decoration-none text-light d-flex justify-content-end">Legal Notices</a>
	</footer>
</html>
