{% extends 'base.html.twig' %}

{% block title %}Edit Target{% endblock %}

{% block body %}
    <h1>Edit Target</h1>

    {{ include('target/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_dashboard') }}">back to list</a>
{% endblock %}
