{% extends 'base.html.twig' %}

{% block title %}
	{{parent()}}| Legal notices
{% endblock %}

{% block body %}
	<main>
		<h1>Legal Notices</h1>

		<a href="{{ path('app_login') }}" class="">Back</a>
	</main>
{% endblock %}